/* Will be compiled down to a single stylesheet with your sass files */
html, body {
    height: 100%;
}
.clearbtn {
	margin-top: 5px;
}
.hdr-bar .deckname {
	margin-top: 6px;
	margin-right: 10px;
}
.cardlist .headertable, .decklist .headertable {
	margin-bottom: 0;
}
.cardlist .bodytable {
	height: 500px;
	overflow: scroll;
	display: block;
}
.cardlist th.num, .cardlist td.num,
.decklist th.num, .decklist td.num, .stats td.num {
	text-align: center;
}
.cardlist tr, .decklist tr {
	cursor: pointer;
	width: 100%;
}
.cardlist td.name, .cardlist th.name,
.decklist td.name, .decklist th.name {
	width: 190px;
}
.cardlist td.num,
.decklist td.num {
	width: 30px;
	padding: 2px;
}
.cardlist th.num, .decklist th.num {
	width: 30px;
	padding: 2px;
}

.cardlist td.type, .cardlist th.type,
.decklist td.type, .decklist th.type {
	width: 60px;
}

.cardlist td.pl, .cardlist th.pl,
.decklist td.pl, .decklist th.pl {
	width: 30px;
	text-align: center;
}
.toperror {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -150px;
	width: 300px;
	text-align: center;
}

.land-blue {
	color: #6cb1de;
}
.land-green {
	color: #a0d66c;
}
.land-red {
	color: #cf5850;
}
.land-yellow {
	color: #f5ce43;
}