/* Will be compiled down to a single stylesheet with your sass files */
html, body {
    height: 100%;
}
body {
	background-image: url('/img/shores_wb_night.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.well {
	background: rgba(0,138,130,.5);
	color: #E0EEEE;
}
form .help-inline {
	color: #E0EEEE;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
	background: rgba(0,99,95,.5);
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background: rgba(0,51,49,.5);
}
.hdr-bar button, .hdr-bar .btn {
	opacity: .75;
}
.hdr-bar .clearbtn,
.hdr-bar .sharebtn,
.hdr-bar .btn {
	margin-top: 5px;
}
.hdr-bar .clearbtn,
.hdr-bar .sharebtn {
	margin-right: 10px;
}
.hdr-bar .deckname {
	margin-top: 6px;
	margin-right: 10px;
}
.cardlist, .decklist {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cardlist .headertable, .decklist .headertable {
	margin-bottom: 0;
	width: 100%;
	border-bottom: 0;
	border: 0;
}

@-moz-document url-prefix() {
    .cardlist .headertable {
        width: 97%;
    }
}

.cardlist .headertable th, .decklist .headertable th {
	border: 0;
	padding: 5px 3px;
}
.cardlist .bodytable {
	height: 500px;
	overflow-y: scroll;
	display: block;
}
.cardlist th.num, .cardlist td.num,
.decklist th.num, .decklist td.num, .stats td.num {
	text-align: center;
}
.cardlist tr, .decklist tr {
	cursor: pointer;
	width: 100%;
}
.cardlist td, .decklist td {
	vertical-align: middle;
}
.cardlist th.name,
.decklist th.name {
	text-indent: 15px;
}
.cardlist td.name, .cardlist th.name,
.decklist td.name, .decklist th.name {
	width: 40%;
}
.cardlist td.num,
.decklist td.num {
	width: 8%;
}
.cardlist th.num, .decklist th.num {
	width: 8%;
}
.cardlist td.type, .cardlist th.type,
.decklist td.type, .decklist th.type {
	width: 15%;
}


.decklist th.indeck, .decklist td.indeck {
	width: 2%;
}

.cardlist th.type,
.decklist th.type {
	text-indent: 15px;
}
.cardlist td.pl, .cardlist th.pl {
	width: 13%;
	text-align: center;
}
.decklist td.pl, .decklist th.pl {
	width: 11%;
	text-align: center;
}
.toperror {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -150px;
	width: 300px;
	text-align: center;
	z-index: 10;
}

.land-blue {
	color: #6cb1de;
}
.land-green {
	color: #a0d66c;
}
.land-red {
	color: #cf5850;
}
.land-yellow {
	color: #f5ce43;
}
.cardlist .table th div ,
.decklist .table th div {
	position: relative;
	vertical-align: middle;
}
.cardlist th i,
.decklist th i {
	display: none;
	position: absolute;
	left: 0px;
	text-indent: 0;
}
.icon-arrow-up,.icon-arrow-down {
	top: 4px;
}
.cardlist th.sort-false i.ascending,
.decklist th.sort-false i.ascending {
	display: block;
}
.cardlist th.sort-true i.descending,
.decklist th.sort-true i.descending {
	display: block;
}

.rarity-symbol {
	text-indent: -9999px;
	width: 11px;
	height: 15px;
	display: block;
	margin: 5px auto;
	background-repeat: no-repeat;
}
.rarityC {
	background: url('/img/card_rarity_common.png');
}
.rarityU {
	background: url('/img/card_rarity_uncommon.png');
}
.rarityE {
	background: url('/img/card_rarity_exceptional.png');
}
.rarityR {
	background: url('/img/card_rarity_rare.png');
}
.rarityL {
	background: url('/img/card_rarity_legendary.png');
}
.gold-icon, .faeria-icon, .land-hdr-icon {
	width: 23px;
	height: 23px;
	text-indent: -9999px;
	display: block;
	margin: 1px auto;
	background-size: cover;
}

.gold-icon {
	background-image: url('/img/gold.png');
}
.faeria-icon {
	background-image: url('/img/faeria.png');
}
.land-hdr-icon {
	background-image: url('/img/Prairie_White2.png');
}

.stats .gold-icon, .faeria-icon {
	display: inline-block;
	margin: 0;
}

.land-icon {
	width: 23px;
	height: 18px;
	text-indent: -9999px;
	display: inline-block;
	margin: 0;
	background-size: cover;
}

.land-desert {
	background-image: url('/img/card_cost_yellow.png');
}
.land-forest {
	background-image: url('/img/card_cost_green.png');
}
.land-lake {
	background-image: url('/img/card_cost_lake.png');
}
.land-mountain {
	background-image: url('/img/card_cost_red.png');
}


.well input, .hdr-bar input {
	background: rgba(0,0,0,.5);
	color: #FFFFFD;
}

.logo {
	background-image: url('/img/faeria_logo.png');
	background-size: cover;
	width: 50px;
	display: inline-block;
	text-indent: -999px;
}


.hdr-bar h4 {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  text-shadow: -3px 0 4px #006;
  font-family: 'Berkshire Swash', cursive;
}



.hdr-bar h4:after {
  color: #814321;
  text-shadow: 3px 3px 1px #600;
}

.hdr-bar h4.decks:after {
	content: "FaeriaDecks - Deckbuilder";
}
.hdr-bar h4.cards:after {
	content: "FaeriaDecks - Card Designer";
}
.hdr-bar h4.changelog:after {
	content: "FaeriaDecks - Changelog";
}
.hdr-bar h4.list:after {
	content: "FaeriaDecks - Cardlist";
}

.hdr-bar h4 a:link,
.hdr-bar h4 a:visited,
.hdr-bar h4 a:hover,
.hdr-bar h4 a:active {
  position: absolute;
  top: 0;
  z-index: 2;
  color: #f5ce43;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.icon-arrow-up, .icon-arrow-down {
	color: #FEFFEF;
}

.alert-info {
	opacity: .5;
}

.ftr {
	color: #ccc;
}
.ftr img {
	 margin: 0 0 5px 0;
}

.version-error a {
	cursor: pointer;
}

.popover {
  max-width: none;
  width: auto;
}
.image-popup-container .popover {
  background: none;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.image-popup-container .popover-title,
.image-popup-container .popover.right .arrow,
.image-popup-container .popover.left .arrow {
  display: none;
}
.image-popup-container .popover-content img {
  width: 250px;
  max-width: 200%;
}

.cardlist .hdr-bar form {
	margin-right: 10px;
	margin-top: 10px;
}

.topbtn {
	margin-right: 5px;
}

.modal-body textarea {
	width: 90%;
	min-height: 400px;
	margin: 0 auto;
	display: block;
}

.modal-header .form-inline {
	margin-bottom: 0;
}
.modal-header .form-inline label {
	padding: 5px;
	border: 1px solid;
	cursor: pointer;
}
.modal-header .form-inline label.active {
	background: #ccc;
}
.modal-header .form-inline input[type="radio"] {
	display: none;
}