<div class="container">
	<div class="row-fluid hdr-bar">
		<h4 class="changelog pull-left"><a href="/">FaeriaDecks - Changelog</a></h4>
		<div ng-include="'/views/nav.html'"></div>
	</div>
	<div class="well">
		<h1>Changelog</h1>
		<strong>v3.7 (3/2/2014)</strong>
		<ul>
			<li>Switched to using gamepedia wiki as data source.</li>
			<li>Updated card data and images.</li>
			<li>Added support for Rage and Faerialink abilities.</li>
			<li>Fixed render bug where cards with abilities with a value were not including the value in the background-color-highlight.</li>
			<li>Removed uncommon rarity and added basic rarity.</li>
		</ul>
		<strong>v3.6 (12/7/2013)</strong>
		<ul>
			<li>Updated deckbuilder import/export to support both in-game and forum formats without needing to specify the format.</li>
			<li>Updated cards.json to be served by the server.</li>
			<li>Added jsonp for support for cards.json via: <br>
<pre>http://www.faeriadecks.com/cards.json?callback=callbackFunctionName</pre>
				<strong>with jQuery</strong>
<pre>
$.getJSON("http://www.faeriadecks.com/cards.json?callback=?",function(obj) {
	console.log( obj)
});
</pre>
			</li>
			<li>Updated images.</li>
			<li>Updated faeria card render library to support multicolored cards and adjusted land icons to overlap textbox to match in-game.</li>
		</ul>
		<strong>v3.5 (11/30/2013)</strong>
		<ul>
			<li>Updated deckbuilder import and export to support both in-game and forum formats.</li>
		</ul>
		<strong>v3.4 (11/10/2013)</strong>
		<ul>
			<li>Added import and export tool.  For formatting details see <a href="http://www.faeria.net/forum/showthread.php?tid=1551">the forum post.</a></li>
		</ul>

		<strong>v3.3 (11/7/2013)</strong>
		<ul>
			<li>Updated card list.</li>
		</ul>
		
		<strong>v3.2 (10/20/2013)</strong>
		<ul>
			<li>Added card images to the deckbuilder.</li>
			<li>Added the visual card list.</li>
			<li>Updated the faeriarender lib to use new queue rendering.</li>
			<li>Fixed data re-loading when navigating between pages.</li>
			<li>Fixed the filters so 'E' correctly shows as 'Exceptional'.</li>
		</ul>

		<strong>v3.1 (10/17/2013)</strong>
		<ul>
			<li>Updated fonts on the card designer.</li>
			<li>IM Fell for name and type.  Prata for power/life. 16px Serif for costs. Arial for textbox.</li>
			<li>Added black stroke around power/life</li>
			<li>Added line break support on card designer.</li>
		</ul>

		<strong>v3.0 (10/15/2013)</strong>
		<ul>
			<li>Updated the cardlist.</li>
			<li>Switched to using card ids from within the game.  Decklists should no longer break between versions.</li>
			<li>Added card names from the in-game card list that the wiki has not yet added.</li>
			<li>Corrected a number of display and parsing issues with life/power.</li>
			<li>Modified structures to only show life (match in-game deckbuilder).</li>
			<li><a href="cards.json" target="_new3">Cardlist json</a></li>
		</ul>

		<strong>v2.0 (10/12/2013)</strong>
		<ul>
			<li>Updated the cardlist.</li>
			<li>Added versioning for card lists.  Upgrading old decks will incorrectly parse them.  Until we have a full cardlist, this is an unfortunate side effect.</li>
			<li>Added Nav dropdown button.</li>
			<li>Added changelog page.</li>
			<li>Updated faeriacards lib.</li>
			<li><a href="/old-data/cards.2.json" target="_new2">Cardlist json</a></li>
		</ul>

		<strong>v1.0</strong>
		<ul>
			<li><a href="/old-data/cards.1.json" target="_new1">Cardlist json</a></li>
		</ul>
	</div>
</div>