<div class="container">
	<div class="row-fluid hdr-bar">
		<h4 class="changelog pull-left"><a href="/">FaeriaDecks - Changelog</a></h4>
		<div ng-include="'/views/nav.html'"></div>
	</div>
	<div class="well">
		<h1>Changelog</h1>
		<strong>v3.1 (10/17/2013)</strong>
		<ul>
			<li>Updated fonts on the card designer.</li>
		</ul>

		<strong>v3.0 (10/15/2013)</strong>
		<ul>
			<li>Updated the cardlist.</li>
			<li>Switched to using card ids from within the game.  Decklists should no longer break between versions.</li>
			<li>Added card names from the in-game card list that the wiki has not yet added.</li>
			<li>Corrected a number of display and parsing issues with life/power.</li>
			<li>Modified structures to only show life (match in-game deckbuilder).</li>
			<li><a href="cards.json" target="_new3">Cardlist json</a></li>
		</ul>

		<strong>v2.0 (10/12/2013)</strong>
		<ul>
			<li>Updated the cardlist.</li>
			<li>Added versioning for card lists.  Upgrading old decks will incorrectly parse them.  Until we have a full cardlist, this is an unfortunate side effect.</li>
			<li>Added Nav dropdown button.</li>
			<li>Added changelog page.</li>
			<li>Updated faeriacards lib.</li>
			<li><a href="/old-data/cards.2.json" target="_new2">Cardlist json</a></li>
		</ul>

		<strong>v1.0</strong>
		<ul>
			<li><a href="/old-data/cards.1.json" target="_new1">Cardlist json</a></li>
		</ul>
	</div>
</div>