<div class="container">
	<div class="row-fluid hdr-bar">
		<h4 class="changelog pull-left"><a href="/">FaeriaDecks - Changelog</a></h4>
		<div ng-include="'/views/nav.html'"></div>
	</div>
	<div class="well">
		<h1>Changelog</h1>
		<strong>v2.0 (10/12/2013)</strong>
		<ul>
			<li>Updated the cardlist.</li>
			<li>Added versioning for card lists.  Upgrading old decks will incorrectly parse them.  Until we have a full cardlist, this is an unfortunate side effect.</li>
			<li>Added Nav dropdown button.</li>
			<li>Added changelog page.</li>
			<li>Updated faeriacards lib.</li>
		</ul>
	</div>
</div>